{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<body class="bg-light">
<div style="margin: 10% auto; padding: 20px; width: 264px; text-align: center;" class="border rounded border-dark bg-white">

    <form method="post" action="{% url 'login' %}" id="login">
        {% csrf_token %}
    </form>

    <table style="text-align: center;" >
        <tr>
            <td><input class="form-control" placeholder="Login" type="text" form="login" name="username" required></td>
        </tr>
        <tr>
            <td><input style="margin-bottom: 15px;" class="form-control" form="login" type="password" name="password" placeholder="Password" required></td>
        </tr>
        <tr>
            <td><a href="{% url 'password_reset' %}">Lost password?</a></td>
        </tr>
        <tr>
            <td>
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><input form="login" style="width: 220px; margin-top: 15px;" class="btn btn-dark" type="submit" value="Login"></td>
        </tr>
    </table>
</div>
</body>
