{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<body class="bg-light">
<form action="" method="post" id="password_reset">
    {% csrf_token %}
<!--    {% if form.email.errors %}-->
<!--        {{ form.email.errors }}-->
    {% endif %}

</form>
<div style="margin: 15% auto; padding: 20px; width: 264px; text-align: center;" class="border rounded border-dark bg-white">
    <table>
        <tr>
            <td><input class="form-control" form="password_reset" type="email" name="email" placeholder="Email" required></td>
        </tr>
        <tr>
            <td><input class="btn btn-dark" style="width: 220px; margin-top: 15px;" form="password_reset" type="submit" value="Reset password"></td>
        </tr>
        <tr>
            <td>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    </table>
</div>
</body>