{% extends 'base.html' %}

{% block content %}
<div class="container border border-dark rounded bg-white" style="width: 500px; padding: 20px; margin: 10% auto">
    <div style="text-align: center; margin-bottom: 40px">
        <h5>Are you sure you want to delete  {{ task.casecode }}?</h5>
    </div>
    <div class="row" style="text-align: center">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-dark" type="submit" value="Yes, delete">
            </form>
        </div>
        <div class="col">
            <a class="btn btn-dark" style="width: 100px" href="{% url 'tasks:all-tasks' %}">Cancel</a>
        </div>
    </div>

</div>
{% endblock %}