{% extends 'base.html' %}

{% block title %} <title>Change pass</title> {% endblock %}
{% block content %}
<form method="post" action="." id="change_password_form">
    {% csrf_token %}
</form>
<div class="container border border-dark rounded bg-white" style="width: 600px; padding: 20px; margin: 5% auto">
    <h4 style="text-align: center; margin-bottom: 30px">Change password</h4>
    <div class="row" style="margin-bottom: 20px">
        <label class="col-sm-3 col-form-label"><strong>Old password: </strong></label>
        <div class="col-sm-9">
            <input class="form-control" form="change_password_form" placeholder="Old password" required {{ form.old_password }}
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <label class="col-sm-3 col-form-label"><strong>New password: </strong></label>
        <div class="col-sm-9">
            <input class="form-control" form="change_password_form" placeholder="New password" required {{ form.new_password1 }}
        </div>
    </div>
    <div class="row">
        <ul class="helptext">
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <label class="col-sm-3 col-form-label"><strong>New password confirm: </strong></label>
        <div class="col-sm-9" style="padding-top: 14px;">
            <input class="form-control" form="change_password_form" placeholder="New password confirm" required {{ form.new_password2 }}
        </div>
    </div>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <input class="btn btn-dark" form="change_password_form" style="width: 152px; margin: 0 auto" type="submit" value="Change">
    </div>
</div>

{% endblock %}