{% extends 'base.html' %}

{% block title %} <title>Detail</title> {% endblock %}
{% block content %}
<div class="container border border-dark rounded bg-white" style="padding: 15px 30px; margin: 1% auto">
    <div class="row">
        <div class="col-sm-6">
            <p>Full name: {{ employee.get_full_name }}</p>
            <p>Username: {{ employee.username }}</p>
            <p>Email: {{ employee.email }}</p>
            <p>Hired: {{ employee.profile.hired }}</p>
            <a class="btn btn-dark" style="width: 100px" href="{% url 'employee:employee-delete' employee.username %}">Delete</a>
        </div>
        <div class="col-sm-6">
            <table class="table table-sm table-bordered" style="text-align: center">
                <tr>
                    <td rowspan="2"><strong>Average time</strong></td>
                    <td colspan="2">Mimics</td>
                    <td>Avizo</td>
                </tr>
                <tr>
                    <td>Rec</td>
                    <td>Check</td>
                    <td>Rec</td>
                </tr>
                <tr>
                    <td>MyKnee</td>
                    <td>{{ ct_knee_rec|floatformat:0 }}</td>
                    <td>{{ ct_knee_check|floatformat:0 }}</td>
                    <td>{{ ct_knee_rec_avizo|floatformat:0 }}</td>
                </tr>
                <tr>
                    <td>MyKnee(MRI)</td>
                    <td>{{ mri_knee_rec|floatformat:0 }}</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MyShoulder</td>
                    <td>{{ ct_shoulder_rec|floatformat:0 }}</td>
                    <td>{{ ct_shoulder_check|floatformat:0 }}</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MySpine</td>
                    <td>{{ ct_spine_rec|floatformat:0 }}</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MyHip</td>
                    <td>{{ ct_hip_rec|floatformat:0 }}</td>
                    <td>{{ ct_hip_check|floatformat:0 }}</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MyOsteoKnee</td>
                    <td>{{ osteo_knee|floatformat:0 }}</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MyOsteoShoulder</td>
                    <td>{{ osteo_shoulder|floatformat:0 }}</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MyOsteoForearm</td>
                    <td>{{ osteo_forearm|floatformat:0 }}</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MyOsteoWrist</td>
                    <td>{{ osteo_wrist|floatformat:0 }}</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>MyOsteoAnkle</td>
                    <td>{{ osteo_ankle|floatformat:0 }}</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container border border-dark rounded bg-white" style="padding: 15px 30px; margin: 0 auto 30px">
    <div style="text-align: center">
        <p><strong>{{ employee.first_name }}'s report</strong></p>
    </div>
    <div class="row">
        {% if cases %}
    <table class="table table-bordered">
        <tr style="text-align: center">
            <td>Date</td>
            <td>Casecode</td>
            <td>Images</td>
            <td>Case</td>
            <td>Product</td>
            <td>Software</td>
            <td>Procedure</td>
            <td>Time</td>
        </tr>
        {% for case in cases %}
        <tr>
            <td>{{ case.date }}</td>
            <td>{{ case.case_code }}</td>
            <td>{{ case.get_images_display }}</td>
            <td>{{ case.get_case_display }}</td>
            <td>{{ case.get_product_display }}</td>
            <td>{{ case.get_software_display }}</td>
            <td>{{ case.get_procedure_display }}</td>
            <td>{{ case.time }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        There are no cases
    {% endif %}
    </div>
</div>
{% endblock %}